<nb-card>
  <nb-card-header>
    <div class="item text-primary">
      <div class="color bg-status-primary">
        <h5 class="text-primary">Especialista >Consentimientos</h5>
        Todos consentimientos de especialista seleccionado
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-4">
        <button (click)="exportAsXLSX()" class="btn btn-outline-primary">
          Download Excel
        </button>
      </div>
      <div class="col-md-4">
        <button (click)="downloadPDF()" class="btn btn-outline-primary">
          Download PDF
        </button>
      </div>
      <div class="col-md-4">
        <select
          class="form-control"
          #mySelect
          name="miselectAnio"
          (change)="setEspecialista(mySelect.value)"
        >
          <option selected disabled value="">
            Selecciona especialista ....
          </option>
          <option class="option" *ngFor="let esp of data" [value]="esp.id">
            {{ esp.id }}
            {{ esp.nombre }}
          </option>
        </select>
      </div>
    </div>
    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
  </nb-card-body>
</nb-card>
