<nb-card size="medium">
  <nb-card-header>
    <h2>Todos los consentimientos</h2>
    <div class="subtitle">Todos consentimientos con estado 1 y estado 0</div>
  </nb-card-header>
  <div>
    <div>
      <div class="chart">
        <canvas
          baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          [legend]="pieChartLegend"
        >
        </canvas>
      </div>
    </div>
  </div>
</nb-card>
